<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FriendsAppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FriendsAppTheme"
        tools:targetApi="25">


        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/splashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.ui.profile.ViewProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.profile.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.InfoEventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.addevent.AddEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" /> <!-- android:theme="@style/Theme.FriendsApp"> -->
        <activity
            android:name=".view.AllEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AuthorizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".view.chats.GroupChatActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.chats.AddUsersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterGenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterBirthdayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.RegisterNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>